DEBUG=true
# Input your bot's credentials here
STEAM_USERNAME=''
STEAM_PASSWORD=''
STEAM_SHARED_SECRET=''
STEAM_IDENTITY_SECRET=''

# You can leave these as they are, unless you know what you're doing
# Storage settings
STORAGE_TYPE='s3'
STORAGE_S3_ENDPOINT='seaweed'
STORAGE_S3_PORT=8333
STORAGE_S3_USE_SSL=false
STORAGE_S3_PATH='/'
STORAGE_S3_BUCKET='tf2-automatic'
STORAGE_S3_ACCESS_KEY_ID='seaweedadmin'
STORAGE_S3_SECRET_ACCESS_KEY='seaweedadmin'
# Bot manager settings
BOT_MANAGER_ENABLED=true
BOT_MANAGER_URL='http://bot-manager:3000'